<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to 'Novo', new_tipo_integracao_path, class:"btn btn-primary active" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de Tipos de Integração</h3>
  </div>
  <div class="panel-body">
    <table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_integracoes.each do |tipo_integracao| %>
      <tr>
        <td><%= tipo_integracao.nome %></td>
        <td>
          <%= link_to 'Visualizar', tipo_integracao, class:"btn btn-success active" %>
        </td>
      </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>