<% provide(:template, "admin" ) %>

<p id="notice"><%= notice %></p>

<div class="card card-default">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Tipo de Integração</h3>
    </div>
  </div>
  <div class="card-block">
<p>
<p>
  <strong>Nome:</strong>
  <output type="text" class="form-control" id="nome" ><%= @tipo_integracao.nome %></output>
  </p>
</div>


  <div class="card-footer">
    <div class="row">
      <div class="col">
        <%= link_to 'Editar', edit_tipo_integracao_path(@tipo_integracao), class:"btn btn-warning active" %>
        <%= link_to 'Voltar', tipo_integracoes_path, class:"btn btn-info active" %>
      </div>
      
    </div>
  </div>
</div>
