<footer class="footer">
    
    <div class="footer-block buttons">
        <%= image_tag("favicon.ico", alt:"Governo_Ceara") %>
        
    </div>
    <div class="footer-block author">
        <ul>
            <li>  © 2016 - Governo do Estado do Ceará. </li>
            <li> Todos os direitos reservados. </li>
        </ul>
    </div>
</footer>